#container {
  min-height:100%;
  position:relative;
}

body {
  margin:0;
  padding:0;
  height:100%;
}

#name {
  font-family: PT Serif;
  padding-left: 128px;
  font-size: 55px;
  margin-bottom: -55px;
  margin-top: -55px;
  background: #58A7DB;
  position: relative;
}

#media {
  padding-right: 125px;
  right: 0;
  top: 0;
  position: absolute;
}

#media a {
  margin: 5px;
  text-decoration: none;
}

#media a:hover {
  opacity: 0.6;
  text-decoration: none;
}

header {
  height: 35px;
  margin-bottom: 30px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-top: 7px white solid;
  border-bottom: 1px #C8C8C8 solid;
}

nav {
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
}

nav a {
  margin: 35px;
  text-decoration: none;
  font-weight: bold;
  font-family: Poiret One, Helvetica;
  color: black;
}

nav a:hover {
  color: #C8C8C8;
}

section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: PT Serif, Helvetica;
}

#me2 {
  float: left;
}

#me3 {
  float: right;
}

article {
  display: inline-block;
  margin: 20px;
  position: absolute;
  font-family: PT Serif, Helvetica;
}

#about {
  width: 60%;
}
