#container {
  min-height:100%;
  position:relative;
}

body {
  margin:0;
  padding:0;
  height:100%;
}

#name {
  font-family: Lucida Grande, Helvetica;
  text-align: center;
  font-size: 55px;
  margin-bottom: -40px;
  margin-top: -40px;
}

header {
  height: 35px;
  margin-bottom: 20px;
  background: #66CCFF;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

nav {
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
}

nav a {
  margin: 40px;
  text-decoration: none;
  font-family: Lucida Grande, Helvetica;
}

nav a:hover {
  text-decoration: underline;
}

section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

section div {
  float: left;
}

article {
  display: inline-block;
  margin: 20px;
  position: absolute;
  font-family: Lucida Grande, Helvetica;
}
